@import "variables";

#navbar {
	display: flex;
	justify-content: center;
	background-color: $user-green;
	padding: 1rem;

	#btn-home,
	#btn-logout {
		background-color: $user-yellow;
		border: none;
		text-align: center;
		font-size: 1.25rem;
		padding: 0.5rem;
		margin: 0 5px;
		font-family: aleo, sans;
		color: rgba(27, 6, 94, 0.5);
		border-radius: 10px;
		flex-grow: 1;
		text-decoration: none;

		@include media-breakpoint-up(md) {
			font-size: 2rem;
			padding: 1rem 3rem;
			flex-grow: 0;
		}
	}
}
