@import "variables";

#navbar {
  display: flex;
  justify-content: center;
  background-color: $bg-user;

  #btn-home,
  #btn-about {
    background-color: #f7dba7;
    border: none;
    padding: 2rem;
    font-size: 2.375rem;
    margin: 2rem;
    font-family: aleo, sans;
    color: rgba(27, 6, 94, 0.5);
  }
}
