@import "variables";

#todocard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  #card {
    background-color: $user-green;
    display: flex;
    // border: 1px solid red;
    flex-grow: 1;

    #init_input,
    #btn-submit {
      // border: none;
      flex-grow: 1;
    }
  }
}
