@import "variables";

@mixin icon-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5%;
	width: 3.5rem;
	font-size: 300%;
	border: 2px solid $user-black;
	color: $user-black;
	background: transparent;

	* {
		stroke-width: 0.5px;
	}
}

.todo {
	background-color: $user-yellow;
	margin: 0 0 0.5rem 0;
	padding: 1rem 2rem;
	/* display: flex; */
	/* width: 90%; */

	.text {
		/* border: 1px solid red; */
		color: $user-black;
		line-break: anywhere;
		/* word-break: anywhere; */
		background: transparent;
		border: none;
		font-size: 2rem;
	}

	.col-auto {
		/* border: 1px solid red; */
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.icon-check {
			/* margin-left: auto; */
			@include icon-bg;
		}

		.icon-del {
			@include icon-bg;
			/* margin-left: 1rem; */
		}
	}
}
